body {
  background-color: rgba(210,210,210);
}
.begin {
  height: 20px;
  width: 40px;
  margin: 30px;
}
.gameInfo {

}
.coinRed {
  background-color: red;
  height: 32px;
  width: 32px;
  border-radius: 24px;
  cursor: pointer;
}

.coinYellow{
  height: 32px;
  width: 32px;
  background-color: #DDFF00;
  display:block;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.player0 {
  background-color: #DDDDDD;
}

.player1 {
  background-color: #FF0000;
}

.player2 {
  background-color: #DDFF00;
}

.grid {
  border: 1px solid #555555;
  height: 42px;
  width: 42px;
  margin: 4px;
  border-radius: 4px;
}
.nes-octocat, #begin{
align-items: baseline;
}
.nes-btn {
  height: 42px;
  width: 420px;
}
.is-success {
  height: 42px;
  width: 48px;
}
.begin {
  justify-content: center;
  align-items: center;
  padding-left: 300px;
  padding-bottom: 50px;
}
.square {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  padding: 10px;
  margin-left: 80px;
}
.gridCenter {
  padding-left: 330px;
}
footer {
    padding: 20px;
    justify-content: center;
}
.nes-mario {
  height: 42px;
  width: 42px;
}
